<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>com.apple.application-identifier</key>
    <string>83P28BV56S.br.com.qapia.app</string>
    <key>com.apple.developer.team-identifier</key>
    <string>83P28BV56S</string>
    <key>keychain-access-groups</key>
    <array>
        <string>83P28BV56S.br.com.qapia.app</string>
    </array>
    <key>com.apple.security.app-sandbox</key>
    <true/>
    <key>com.apple.security.device.audio-input</key>
    <true/>
    <key>com.apple.security.network.client</key>
    <true/>
</dict>
</plist>
